# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
logs/
target/
*.log
*.class
*.jar
*.war
*.ear
*.swp
hs_err_pid*

# Eclipse
.settings/
.project
.classpath
bin/
tmp/
*.launch
.metadata/
.recommenders/

# gRPC / Protocol Buffers
*.pb.go
*.pb.cc
*.pb.h
*.pb.cpp
*.pb.swift
*.pb.rb
*.pb.py
*.pb.ts
*.pb.dart
*.pb.cs
*.pb.m
*.pb.java
*.pb.json
*.proto~